@charset "utf-8";

:root{
  --main-bg-color: #ffda79;
  --sub-bg-color:#d1ccc0;
  --boder-color : #84817a;
  --logo-color:#ecf0f1;
  --string-color:#1e272e
}
body{
  margin:0;
}

#wrapper{
  height: 1000px;
}

.header-wrapper{
  width: 100%;
  height: 200px;
  display: flex;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  border-bottom: solid 5px var(--boder-color);
}

.logo-wrapper{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-box{
  width: 200px;
  height: 100px;
  background-color: var(--logo-color);
  
}

.menu-wrapper{
  width: 100%;
  height: auto;
  min-height: 1000px;
  display: flex;
}

.side-menu-wrapper{
  width: 40%;
  height: auto;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: flex-end;
}
.side-menu-box{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border-right: solid 2px var(--boder-color);
  background-color: var(--sub-bg-color);
  display: flex;
  justify-content: flex-end;
}

.nav-contents{
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-decoration: none;
  
}
.nav-contents>a{
  color: var(--string-color);
}

.main-menu-wrapper{
  width: 60%;
  height: auto;
  background-color: var(--sub-bg-color);
  display: flex;
  justify-content: center;
}
.main-contents-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.main-contents-box{
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border: solid 1px var(--boder-color);
  padding: 10px;
}